"""
Python Extract Transform Load Example
"""

In [16]:
import requests
import pandas as pd
from sqlalchemy import create_engine

In [17]:
def extract()-> dict:
    """ This API extracts data from
    http://universities.hipolabs.com
    """
    API_URL = "http://universities.hipolabs.com/search?country=United+States"
    data = requests.get(API_URL).json() 
    return data

In [18]:
def transform(data:dict) -> pd.DataFrame:
    """ Transforms the dataset into desired structure and filters"""
    df = pd.DataFrame(data)
    print(f"Total Number of universities from API: {len(data)}")
    df = df[df["name"].str.contains("California")]
    print(f"Number of universities in california: {len(df)}")
    df['domains'] = [','.join(map(str, l)) for l in df['domains']]
    df['web_pages'] = [','.join(map(str, l)) for l in df['web_pages']]
    df = df.reset_index(drop=True)
    return df[["domains","country","web_pages","name"]]

In [19]:
def load(df:pd.DataFrame)-> None:
    """ Loads data into a sqllite database"""
    disk_engine = create_engine('sqlite:///my_lite_store.db')
    df.to_sql('cal_uni', disk_engine, if_exists='replace')

In [ ]:
data = extract()
df = transform(data)
load(df)

In [20]:
df

,domains,country,web_pages,name
0,csuci.edu,United States,https://www.csuci.edu/,California State University Channel Islands
1,calbaptist.edu,United States,http://www.calbaptist.edu/,California Baptist University
2,calsouthern.edu,United States,http://www.calsouthern.edu/,California Southern University
3,cpp.edu,United States,http://www.cpp.edu/,"California Polytechnic State University, Pomona"
4,calcoast.edu,United States,http://www.calcoast.edu/,California Coast University
...,...,...,...,...
79,ucsb.edu,United States,http://www.ucsb.edu/,"University of California, Santa Barbara"
80,ucsc.edu,United States,http://www.ucsc.edu/,"University of California, Santa Cruz"
81,usc.edu,United States,http://www.usc.edu/,University of Southern California
82,carrington.edu,United States,http://www.carrington.edu,Carrington College California-​Sacramento
83,calarts.edu,United States,https://calarts.edu/,California Institute of the Arts